[Unit]
Description=Traefik Logrotate
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
Type=oneshot
ExecStart=logrotate ${SYSTEMD_ROOT}/etc/traefik-logrotate.conf

[Install]
WantedBy=multi-user.target
