[Unit]
Description=VSCode
After=docker.service
Requires=docker.service media-primary.mount
 
[Service]
EnvironmentFile=/etc/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/docker pull codercom/code-server
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --env VIRTUAL_HOST=code.${DNS_DOMAIN} \
  --env VIRTUAL_PORT=8080 \
  --env "LETSENCRYPT_HOST=code.${DNS_DOMAIN}" \
  --env "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
  --env "PASSWORD=${PASSWORD}" \
  --publish 8002:8080 \
  --volume "${PRIMARY_MOUNT}/coder:/home/coder/project" \
  codercom/code-server
 
[Install]
WantedBy=multi-user.target
