[Unit]
Description=Syncthing Relay Docker Container
Documentation=https://github.com/kylemanna/docker-syncthing-relay
After=network.target docker.socket
Requires=docker.socket

[Service]
RestartSec=10
Restart=always

Environment="IMG=kylemanna/syncthing-relay:latest"
Environment="NAME=syncthing-relay"
Environment="PORT_DATA=22067:22067/tcp"
Environment="PORT_STAT=22070:22070/tcp"

# To override environment variables, `systemctl edit docker-syncthing-relay`:
# https://www.freedesktop.org/software/systemd/man/systemctl.html
ExecStop=-/usr/bin/docker rm -f $NAME
# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm \
  --name ${NAME} \
  -p ${PORT_DATA} \
  -p ${PORT_STAT} \
  ${IMG}

[Install]
WantedBy=multi-user.target
