[Unit]
Description=Dyndns
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull oznu/cloudflare-ddns
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --env "API_KEY=${API_KEY}" \
  --env "ZONE=${DNS_DOMAIN}" \
  --env "SUBDOMAIN=${SUBDOMAIN}" \
  oznu/cloudflare-ddns

[Install]
WantedBy=multi-user.target
