[Unit]
Description=Runs dyndns service every hour

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=dyndns.service

[Install]
WantedBy=multi-user.target
