[Unit]
Description=Elastic Search
After=docker.service
Requires=docker.service media-tertiary.mount
 
[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/docker pull seafileltd/elasticsearch-with-ik:5.6.16
ExecStartPre=-/usr/bin/docker network create seafile-private-net
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --label traefik.enable=false \
  --network seafile-private-net \
  --network-alias elasticsearch \
  --env "discovery.type=single-node" \
  --env "bootstrap.memory_lock=true" \
  --env "ES_JAVA_OPTS=-Xms1g -Xmx1g" \
  --env "TAKE_FILE_OWNERSHIP=1" \
  --ulimit memlock=-1:-1 \
  --memory 2GB \
  --publish 9200:9200 \
  --publish 9300:9300 \
  --volume ${TERTIARY_MOUNT}/elasticsearch/data:/usr/share/elasticsearch/data \
  seafileltd/elasticsearch-with-ik:5.6.16
 
[Install]
WantedBy=multi-user.target
