[Unit]
Description=GoAccess
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/profile.env

ExecStartPre=-/usr/bin/docker kill goaccess
ExecStartPre=-/usr/bin/docker rm goaccess
ExecStart=/usr/bin/docker run -d \
    --name goaccess \
    -p 7890:7890 \
    -v ${MOUNT_ROOT}/goaccess/data:/srv/data \
    -v ${MOUNT_ROOT}/goaccess/html:/srv/report \
    -v ${MOUNT_ROOT}/nginx:/srv/logs \
    allinurl/goaccess

ExecStartPost=-/usr/bin/docker kill goaccess-webserver
ExecStartPost=-/usr/bin/docker rm goaccess-webserver
ExecStartPost=/usr/bin/docker run -d \
    --name goaccess-webserver \
    -e NETWORK_ACCESS=internal \
    -e VIRTUAL_HOST=${LOCAL_DOMAIN} \
    -e VIRTUAL_PORT=80 \
    -v ${MOUNT_ROOT}/goaccess/html:/usr/share/nginx/html \
    nginx

[Install]
WantedBy=multi-user.target
