[Unit]
Description=Samba
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill openhab
ExecStartPre=-/usr/bin/docker rm openhab
ExecStart=/usr/bin/docker run --name openhab \
    -p 8081:8080 --net=host \
    --tty \
    -v /dockmount/openhab/openhab_addons:/openhab/addons \
    -v /dockmount/openhab/openhab_conf:/openhab/conf \
    -v /dockmount/openhab/openhab_userdata:/openhab/userdata \
    -d --restart=always \
    openhab/openhab:2.1.0-amd64

[Install]
WantedBy=multi-user.target
