[Unit]
Description=i2p
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/profile.env
ExecStartPre=-/usr/bin/docker kill i2p
ExecStartPre=-/usr/bin/docker rm i2p
ExecStart=/usr/bin/docker run --name i2p \
    -v ${MOUNT_ROOT}/i2p:/var/lib/i2p \
    -p 4444:4444 -p 6668:6668 -p 7657:7657 \
    geti2p/i2p

[Install]
WantedBy=multi-user.target
