[Unit]
Description=Kibana
After=docker.service
Requires=docker.service media-primary.mount elasticsearch.service
 
[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/docker pull \
  docker.elastic.co/kibana/kibana:7.5.2
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %N \
  --publish 5601:5601 \
  --link elasticsearch.service:elasticsearch \
  --label traefik.http.routers.%N.rule="Host(`%N.${DNS_DOMAIN}`) || PathPrefix(`/%N`)" \
  --label traefik.http.services.%N.loadbalancer.server.port="5601" \
  --label traefik.http.middlewares.%N.stripprefix.prefixes="/%N" \
  --label traefik.http.middlewares.%N.usersfile="${PRIMARY_MOUNT}/etc/passwords.txt" \
  --label traefik.http.routers.%N.middlewares="%N@docker" \
  docker.elastic.co/kibana/kibana:7.5.2
 
[Install]
WantedBy=multi-user.target
