[Unit]
Description=MariaDB
After=docker.service
Requires=docker.service media-primary.mount

[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull mariadb:10.1
ExecStartPre=-/usr/bin/docker network create seafile-private-net
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --label traefik.enable=false \
  --network seafile-private-net \
  --network-alias mariadb \
  --env "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}" \
  --volume ${PRIMARY_MOUNT}/mariadb:/var/lib/mysql \
  mariadb:10.1

[Install]
WantedBy=default.target
