[Unit]
Description=4TB Disk

[Mount]
What=UUID=98d3794b-3f70-4bbc-8d39-ffd0847c621b
Where=/media/4tb
Type=ext4
Options=defaults,auto,noatime,exec

[Install]
WantedBy=multi-user.target
