[Unit]
Description=USB media

[Mount]
What=/dev/sdc1
Where=/media/sdc
Type=ntfs
Options=defaults,auto,noatime,exec

[Install]
WantedBy=multi-user.target hab.service plex.service torrent.service shout.service i2p.service samba.service
