[Unit]
Description=General data

[Mount]
What=/dev/sdd1
Where=/media/secondary
Type=ext4
Options=defaults,auto,noatime,exec

[Install]
WantedBy=multi-user.target
