[Unit]
Description=Nextcloud
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nextcloud
ExecStartPre=-/usr/bin/docker rm nextcloud
ExecStart=/usr/bin/docker run -d \
    -e VIRTUAL_HOST=nc.${DNS_DOMAIN} \
    -e "LETSENCRYPT_HOST=nc.${DNS_DOMAIN}" \
    -e "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
    --name nextcloud \
    -v ${MOUNT_ROOT_B}/nextcloud:/var/www/html \
    nextcloud

[Install]
WantedBy=multi-user.target
