[Unit]
Description=Nextcloud
After=docker.service
Requires=docker.service postgres.service media-sdb.mount

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull nextcloud
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --env VIRTUAL_HOST=nc.${DNS_DOMAIN} \
  --env "LETSENCRYPT_HOST=nc.${DNS_DOMAIN}" \
  --env "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
  --link postgres.service:postgres \
  --volume ${MOUNT_ROOT_B}/nextcloud:/var/www/html \
  nextcloud

[Install]
WantedBy=multi-user.target
