[Unit]
Description=NginxProxy
After=docker.service
Requires=docker.service media-sdb.mount

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull jwilder/nginx-proxy
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --publish 80:80 --publish 443:443 \
  --volume ${PRIMARY_MOUNT}/nginx:/var/log/nginx \
  --volume ${PRIMARY_MOUNT}/ssl/vhost:/etc/nginx/vhost.d \
  --volume ${PRIMARY_MOUNT}/ssl/html:/usr/share/nginx/html \
  --volume ${PRIMARY_MOUNT}/ssl/certs:/etc/nginx/certs:rw \
  --label com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy \
  --volume /var/run/docker.sock:/tmp/docker.sock:ro \
  --volume ${SYSTEMD_ROOT}/etc/max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro \
  jwilder/nginx-proxy

[Install]
WantedBy=multi-user.target
