[Unit]
Description=NginxProxy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/profile.env
ExecStartPre=-/usr/bin/docker kill nginxproxy
ExecStartPre=-/usr/bin/docker rm nginxproxy
ExecStart=/usr/bin/docker run -d \
    --name nginxproxy \
    -p 80:80 -p 443:443 \
    -v ${MOUNT_ROOT_B}/nginx:/var/log/nginx \
    -v ${MOUNT_ROOT_B}/ssl/vhost:/etc/nginx/vhost.d \
    -v ${MOUNT_ROOT_B}/ssl/html:/usr/share/nginx/html \
    -v ${MOUNT_ROOT_B}/ssl/certs:/etc/nginx/certs:rw \
    --label com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy \
    -v /var/run/docker.sock:/tmp/docker.sock:ro \
    -v ${SYSTEMD_ROOT}/etc/max_body_size.conf:/etc/nginx/conf.d/client_max_body_size.conf:ro \
    jwilder/nginx-proxy

[Install]
WantedBy=multi-user.target
