[Unit]
Description=Postgres

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill postgres
ExecStartPre=-/usr/bin/docker rm postgres
ExecStart=/usr/bin/docker run --name=postgres \
    -v ${MOUNT_ROOT_B}/postgres/data:/var/lib/postgresql/data/ \
    -p 5432:5432 \
    postgres

[Install]
WantedBy=default.target
