LOCAL_DOMAIN=coreos
LETSENCRYPT_EMAIL=letsencrypt@subdavis.com
DNS_DOMAIN=subdavis.com
SUBDOMAIN=core
SYSTEMD_ROOT=/etc/systemd/system
SUBNET="192.168.0.0/24"
# Additional mount roots
PRIMARY_MOUNT=/media/primary
SECONDARY_MOUNT=/media/secondary
TERTIARY_MOUNT=/media/tertiary
# Add more mount roots if you have more....

# multi-container configuration
MINIO_ACCESS_KEY=CHANGEME
MINIO_SECRET_KEY=CHANGEME
CF_EMAIL=CHANGEME
CF_TOKEN=CHANGEME
GOOGLE_CLIENT_ID=CHANGEME
GOOGLE_CLIENT_SECRET=CHANGEME
AUTH_SECRET=CHANGEME
AUTH_WHITELIST=CHANGEME
MYSQL_ROOT_PASSWORD=CHANGEME
SEAFILE_ADMIN_EMAIL=CHANGEME
SEAFILE_ADMIN_PASSWORD=CHANGEME
