# Letsencrypt email isn't associated with any account.
# You can put anything here
LETSENCRYPT_EMAIL=letsencrypt@subdavis.com
# Your naked domain.
DNS_DOMAIN=subdavis.com
# The particular DNS record to update with an A record for dyndns
SUBDOMAIN=core
# The location where this repo is cloned
SYSTEMD_ROOT=/usr/local/lib/systemd/system/
# Your local subnet, for optional IP Whitelisting in Traefik
SUBNET="192.168.0.0/24"
# Mount locations for external media
PRIMARY_MOUNT=/media/primary
SECONDARY_MOUNT=/media/secondary
TERTIARY_MOUNT=/media/tertiary
# Add more mounts here...

# Everything below here is mostly API keys and passwords.
# Often, more than 1 container needs a given secret.
# I could have put each of these in a separate unit conf directory
# But I was too lazy

# You'll use these as your AWS ACCESS KEY and AWS SECRET KEY, respectively
MINIO_ACCESS_KEY=CHANGEME
MINIO_SECRET_KEY=CHANGEME

# For DYNDNS and TRAEFIK DNS ACME auth
CF_EMAIL=CHANGEME
CF_TOKEN=CHANGEME

# For MariaDB and seafile
MYSQL_ROOT_PASSWORD=CHANGEME

# For seafile
SEAFILE_ADMIN_EMAIL=CHANGEME
SEAFILE_ADMIN_PASSWORD=CHANGEME
SAMBA_USER=CHANGEME
SAMBA_PASSWORD=CHANGEME
