[Unit]
Description=Runs rsync-calibre backup every hour

[Timer]
OnBootSec=15min
OnUnitActiveSec=1h
Unit=rsync-calibre.service

[Install]
WantedBy=multi-user.target
