[Unit]
Description=Rsync Backup
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/profile.env
ExecStartPre=-/usr/bin/docker kill rsync
ExecStartPre=-/usr/bin/docker rm rsync
ExecStart=/usr/bin/docker run --name rsync \
    -v ${MOUNT_ROOT_B}/nextcloud:/source \
    -v ${MOUNT_ROOT_C}/nextcloud_backup:/dest \
    subdavis/rsync

[Install]
WantedBy=multi-user.target
