[Unit]
Description=Samba
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull kaixhin/samba
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --port 137-139:137-139 \
  --port 445:445 \
  --volume /media:/data \
  kaixhin/samba

[Install]
WantedBy=multi-user.target
