[Unit]
Description=Shout
After=docker.service
Requires=i2p.service

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
ExecStop=-/usr/bin/docker kill shout
ExecStartPre=-/usr/bin/docker kill shout
ExecStartPre=-/usr/bin/docker rm shout
ExecStart=/usr/bin/docker run --name=shout \
    -e VIRTUAL_HOST=shout.${DNS_DOMAIN} \
    -e VIRTUAL_PORT=9090 \
    -e "LETSENCRYPT_HOST=shout.${DNS_DOMAIN}" \
    -e "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
    -e PRIVATE=true \
    --link i2p:i2p \
    -v ${MOUNT_ROOT}/shout:/shout \
    -p 9090:9000 \
    -d --restart=always \
    arbourd/shout

[Install]
WantedBy=multi-user.target
