[Unit]
Description=Syncthing
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
ExecStop=-/usr/bin/docker kill syncthing
ExecStartPre=-/usr/bin/docker kill syncthing
ExecStartPre=-/usr/bin/docker rm syncthing
ExecStart=/usr/bin/docker run -d --restart=always \
  -e VIRTUAL_HOST=syncthing.${DNS_DOMAIN} \
  -e VIRTUAL_PORT=8384 \
  -e "LETSENCRYPT_HOST=syncthing.${DNS_DOMAIN}" \
  -e "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
  -v ${MOUNT_ROOT}/syncthing/data:/mnt/data \
  -v ${MOUNT_ROOT}/syncthing/config:/config \
  -p 22000:22000 -p 21027:21027/udp -p 8384:8384 \
  --name syncthing \
  linuxserver/syncthing

[Install]
WantedBy=multi-user.target
