[Unit]
Description=Thelounge
After=docker.service
Requires=tor.service

[Service]
EnvironmentFile=/etc/profile.env
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill thelounge
ExecStartPre=-/usr/bin/docker rm thelounge
ExecStart=/usr/bin/docker run --name=thelounge \
    -e VIRTUAL_HOST=shout.${DNS_DOMAIN} \
    -e VIRTUAL_PORT=9090 \
    -e "LETSENCRYPT_HOST=shout.${DNS_DOMAIN}" \
    -e "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
    -v ${MOUNT_ROOT_B}/shout:/var/opt/thelounge \
    -p 9090:9000 \
    --link tor:tor \
    thelounge/thelounge

[Install]
WantedBy=multi-user.target
