[Unit]
Description=Torrent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill torrent
ExecStartPre=-/usr/bin/docker rm torrent
ExecStart=/bin/bash -c '/usr/bin/docker run --cap-add=NET_ADMIN --device=/dev/net/tun -d --name torrent -v /dockmount/plex/media/:/data   -v /etc/localtime:/etc/localtime:ro  -e "OPENVPN_PROVIDER=NORDVPN" -e "OPENVPN_CONFIG=ca104.nordvpn.com.tcp" -e "OPENVPN_USERNAME=${USERNAME}" -e "OPENVPN_PASSWORD=${PASSWORD}" -e "TRANSMISSION_UMASK=0" -e "OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60" -p "9091:9091" -e LOCAL_NETWORK=10.0.1.1/24 --dns 1.1.1.1  haugene/transmission-openvpn'
ExecStartPost=-/usr/bin/docker kill torrentprox
ExecStartPost=-/usr/bin/docker rm torrentprox
ExecStartPost=/usr/bin/docker run -d \
    --name torrentprox \
    --link torrent:transmission \
    -p 9092:8080 \
    haugene/transmission-openvpn-proxy

[Install]
WantedBy=multi-user.target
