[Unit]
Description=Torrent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStop=-/usr/bin/docker kill torrent
ExecStartPre=-/usr/bin/docker kill torrent
ExecStartPre=-/usr/bin/docker rm torrent
ExecStart=/usr/bin/docker run \
    -e CREATE_TUN_DEVICE=true \
    -e NETWORK_ACCESS=internal \
    -e VIRTUAL_HOST=torrent.${LOCAL_DOMAIN} \
    -e VIRTUAL_PORT=9091 \
    --cap-add=NET_ADMIN \
    --device=/dev/net/tun -d \
    --name torrent \
    -v ${MOUNT_ROOT}/plex/media/:/data \
    -v /etc/localtime:/etc/localtime:ro  \
    -e "OPENVPN_PROVIDER=NORDVPN" \
    -e "OPENVPN_USERNAME=${USERNAME}" \
    -e "OPENVPN_PASSWORD=${PASSWORD}" \
    -e "TRANSMISSION_UMASK=0" \
    -e "OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60" \
    -e LOCAL_NETWORK=10.0.1.1/24 \
    --dns 1.1.1.1  \
    haugene/transmission-openvpn
ExecStop=-/usr/bin/docker kill torrentprox
ExecStartPost=-/usr/bin/docker kill torrentprox
ExecStartPost=-/usr/bin/docker rm torrentprox
ExecStartPost=/usr/bin/docker run -d \
    --name torrentprox \
    --link torrent:transmission \
    -p 9092:8080 \
    haugene/transmission-openvpn-proxy

[Install]
WantedBy=multi-user.target
