[Unit]
Description=Traefik
After=docker.service
Requires=docker.service media-tertiary.mount
 
[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/docker pull traefik:2.2
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --env CF_API_EMAIL=${CF_EMAIL} \
  --env CF_DNS_API_TOKEN=${CF_TOKEN} \
  --env CF_ZONE_API_TOKEN=${CF_TOKEN} \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  --volume "${SYSTEMD_ROOT}/etc/passwords.txt:/basicauth/passwords.txt" \
  --volume "${TERTIARY_MOUNT}/%N/letsencrypt:/letsencrypt" \
  --volume "${TERTIARY_MOUNT}/%N/logs:/var/log/traefik" \
  --publish 9999:8080 \
  --publish 80:80 \
  --publish 443:443 \
  traefik:v2.2 \
  --api.insecure=true \
  --accesslog=true \
  --accesslog.filepath=/var/log/traefik/access.log \
  --accesslog.fields.headers.names.Content-Type=keep \
  --accesslog.fields.headers.names.User-Agent=keep \
  --providers.docker=true \
  --providers.docker.exposedByDefault=false \
  --entrypoints.web.address=:80 \
  --entrypoints.websecure.address=:443 \
  --certificatesResolvers.myresolver.acme.caServer="https://acme-v02.api.letsencrypt.org/directory" \
  --certificatesresolvers.myresolver.acme.dnschallenge=true \
  --certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare \
  --certificatesresolvers.myresolver.acme.email="${LETSENCRYPT_EMAIL}" \
  --certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json
 
[Install]
WantedBy=multi-user.target
