[Unit]
Description=Syncthing
After=docker.service
Requires=docker.service media-primary.mount media-secondary.mount
 
[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/docker pull linuxserver/syncthing
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --env VIRTUAL_HOST=syncthing.${DNS_DOMAIN} \
  --env VIRTUAL_PORT=8384 \
  --env "LETSENCRYPT_HOST=syncthing.${DNS_DOMAIN}" \
  --env "LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}" \
  --label traefik.http.routers.%N.rule="Host(`%N.${DNS_DOMAIN}`)" \
  --label traefik.http.services.%N.loadbalancer.server.port="8348" \
  --label traefik.http.middlewares.%N-https.redirectscheme.scheme="https" \
  --label traefik.http.routers.%N.middlewares="%N-https@docker" \
  --volume ${PRIMARY_MOUNT}/syncthing/data:/mnt/data \
  --volume ${PRIMARY_MOUNT}/syncthing/config:/config \
  --publish 22000:22000 \
  --publish 21027:21027/udp \
  --publish 8384:8384 \
  linuxserver/syncthing

[Install]
WantedBy=multi-user.target
