[Unit]
Description=Goaccess
After=docker.service
Requires=docker.service media-primary.mount
 
[Service]
EnvironmentFile=/usr/local/lib/systemd/system/profile.env
TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=/usr/bin/docker pull gregyankovoy/goaccess
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --publish 7889:7889 \
  --volume "${LOCAL_MOUNT}/traefik/logs:/opt/log" \
  --volume "${PRIMARY_MOUNT}/goaccess/config:/config" \
  gregyankovoy/goaccess
ExecStop=-/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
