[Unit]
Description=Postgres
After=docker.service
Requires=docker.service media-primary.mount

[Service]

TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull postgres
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --label traefik.enable=false \
  --volume {{PRIMARY_MOUNT}}/postgres/data:/var/lib/postgresql/data/ \
  --publish 5432:5432 \
  postgres
ExecStop=-/usr/bin/docker stop %n

[Install]
WantedBy=default.target
