[Unit]
Description=Seafile
After=traefik.service
Requires=docker.service memcached.service mariadb.service media-primary.mount elasticsearch.service

[Service]

TimeoutStartSec=0
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
ExecStartPre=-/usr/bin/docker pull docker.seadrive.org/seafileltd/seafile-pro-mc:latest
ExecStartPre=-/usr/bin/docker network create %N-net
ExecStartPre=-/usr/bin/docker network connect %N-net traefik.service
ExecStart=/opt/systemd-docker \
  --cgroups name=systemd \
  run --rm --name %n \
  --network seafile-private-net \
  --label traefik.enable=true \
  --label traefik.docker.network="%N-net" \
  --label traefik.http.services.%N.loadbalancer.server.port="80" \
  --label traefik.http.middlewares.%N-https.redirectscheme.scheme="https" \
  --label traefik.http.routers.%N.entrypoints=web \
  --label traefik.http.routers.%N.rule="Host(`%N.{{DNS_DOMAIN}}`)" \
  --label traefik.http.routers.%N.middlewares="%N-https@docker" \
  --label traefik.http.routers.%N-secure.entrypoints=websecure \
  --label traefik.http.routers.%N-secure.rule="Host(`%N.{{DNS_DOMAIN}}`)" \
  --label traefik.http.routers.%N-secure.tls.domains[0].main="*.{{DNS_DOMAIN}}" \
  --label traefik.http.routers.%N-secure.tls.domains[0].sans="{{DNS_DOMAIN}}" \
  --label traefik.http.routers.%N-secure.tls.certresolver="myresolver" \
  --label traefik.http.routers.%N-secure.tls=true \
  --env "DB_HOST=mariadb" \
  --env "SEAFILE_SERVER_HOSTNAME=%N.{{DNS_DOMAIN}}" \
  --env "DB_ROOT_PASSWD={{MYSQL_ROOT_PASSWORD}}" \
  --env "SEAFILE_ADMIN_EMAIL={{SEAFILE_ADMIN_EMAIL}}" \
  --env "SEAFILE_ADMIN_PASSWORD={{SEAFILE_ADMIN_PASSWORD}}" \
  --volume {{PRIMARY_MOUNT}}/seafile:/shared \
  --volume {{PRIMARY_MOUNT}}/data:/source_data \
  docker.seadrive.org/seafileltd/seafile-pro-mc:latest
ExecStartPost=/usr/bin/docker network connect %N-net %n

ExecStop=-/usr/bin/docker stop %n
ExecStopPost=-/usr/bin/docker network disconnect %N-net traefik.service

[Install]
WantedBy=multi-user.target
